<template>
  <div>
    <h1>Store test</h1>
    <div>Do something</div>
    <button click.trigger="changeName()">Change name</button>
    <button click.trigger="changeAddress()">Change address</button> 
    <div>${name}</div>
    <div>${address.street}</div>
    <div>${address.postalCode} ${address.city}</div>
    <input value.bind="props.prop1" />
    <input value.bind="props.prop2" />
    <input value.bind="props.prop3" />
    <input value.bind="props.prop4" />
    <button click.trigger="reset()">Reset</button>
    <button click.trigger="isValid()">Reset</button>
  </div>
</template>
