<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dbservicebustest-dev-fa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/594ca468-b213-4907-9b6d-44a55790fa45/resourcegroups/experimental-dev-rg/providers/Microsoft.Web/sites/dbservicebustest-dev-fa</ResourceId>
    <UserName>$dbservicebustest-dev-fa</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://dbservicebustest-dev-fa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>